<h1>Guardar Autor</h1>
<p>Find me in app/views/bibliotecas/edit.html.erb</p>

<%= form_for (@hash_n_a) do |f| %>
    <p>Nombre</p>
    <%= f.text_field :nom %>
    <p>aplelido p</p>
    <%= f.text_field :apellido_p %>
<br><br><br>
 <%= f.submit "Guardar Biblioteca Nueva"%>

<% end %>