<%= form_for (@hash_n) do |f| %>
    <p>Nombre</p>
    <%= f.text_field :nombre %>
    <p>Direccion</p>
    <%= f.text_field :direccion %>
<br><br><br>
 <%= f.submit "Guardar Biblioteca Nueva"%>

<% end %>



 