<h1>Libros#index</h1>
<p>Find me in app/views/libros/index.html.erb</p>
<p>Esta cosa se ve que va quedar mas o menos chida</p>
<br><br>
<a href='https://web.whatsapp.com/'></a>
<br>
<%= link_to 'ir blibioteca', bibliotecas_path %>